# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# Flask/Flask-Uploads
static/uploads/*
!static/uploads/.gitkeep

# Models (too large for GitHub)
model/*.keras
model/*.h5
model/*.hdf5

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS Generated
.DS_Store
Thumbs.db

# Large Datasets
dataset/
